<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= display_meta_tags site: 'Capture, edit & share photos, videos & messages with friends & family.',
                          keywords: %w[systemu.net photos videos share messages friends family],
                          description: "Create an account or log in to Systemu - A simple, fun & creative way to capture, edit & share photos, videos & messages with friends & family."%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/251a4e45b7.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag 'icon.png' %>
  </head>

  <body>
    <%= render 'shared/navbar' if current_user %>
    <% if user_signed_in? %>
      <div id="current-user"></div>
      <div id="direct" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
          </div>
        </div>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>

    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
          toastr.<%= type %>('<%= value %>')
        <% end %>
      </script>
    <% end %>
  </body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65590279-6"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-65590279-6');
  </script> -->
</html>
